.App {
  --color-background: #fff;
  --color-primary: #6200ee;
  --color-secondary: #03dac6;
  --color-on-background: #000;
  --color-on-primary: #fff;
  --color-on-secondary: #000;
}

.App--dark {
  --color-background: #212121;
  --color-primary: #bb86fc;
  --color-secondary: #03dac6;
  --color-on-background: #fff;
  --color-on-primary: #fff;
  --color-on-secondary: #000;
}
