.Button {
  background: var(--color-primary);
  color: var(--color-on-primary);
  padding: 4px 8px;
  border: 0;
  margin: 0 4px;
  cursor: pointer;
}

.Button--secondary {
  background: var(--color-secondary);
  color: var(--color-on-secondary);
}

.Button:hover {
  filter: brightness(115%);
}

.Button:active {
  filter: brightness(75%);
}
